.visited-container {
  background-color: #1f1f2f;
  border-radius: 5px;
  width: 250px;
  height: 200px;
  margin-bottom: 15px;
  margin-left: 15px;
}
.image {
  width: 250px;
  height: 150px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}
.remove-button {
  width: 65px;
  height: 30px;
  border: 1px solid #cbd5e1;
  background-color: transparent;
  color: #ffff;
  font-family: 'Roboto';
  font-weight: 500;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.text {
  color: #ffff;
  font-weight: 500;
  font-family: 'Roboto';
}
