.list-container {
  background-color: #1f1f2f;
  border: 1px solid #334155;
  padding: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}

.name {
  color: #ffffff;
  font-weight: bold;
  font-family: 'Roboto';
}
.visit-button {
  background-color: #3b82f6;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Roboto';
  width: 60px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.visited-button {
  background-color: transparent;
  border: none;
  color: #cbd5e1;
  font-weight: 500;
  font-size: 17px;
}
